body {
	display: flex;
	justify-content: center;
}

.inactive {
	display: none !important; 
}

.menu {
	background-color: unset;
	border: unset;
	font-size: 1.5em;
}

#banner {
	background-size: cover;
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0px;
	height: 15%;
	background-color: rgb(12,130,120);
}

#swipe {
	touch-action: none;
	width: 100%;
}

#profileName {
  background-image: linear-gradient(to right, #c4fffc, #fff7a8);
  font-family: monospace;
  font-size: 3em;
  text-align: center;
  width: 100%;
  min-height: 1.5em;
  line-height: 1.5em;

}

.swipeClasses {
  background-color: white;
  line-height: 1.2em;
  margin-left: auto;
  margin-right: auto;
  background-color: #bcffd4;
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  border-radius: 25px;
  border: 2px solid #73AD21;
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}


@media (max-height: 400px){
	#banner {
		height: 60px;
	}
}
