body {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.inactive {
	display: none !important; 
}

.menu {
	background-color: unset;
	border: unset;
	font-size: 1.5em;
}

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}
.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

#banner {
	background-size: cover;
	width: 100%;
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0px;
	height: 15%;
	background-image: linear-gradient(to right, #c4fffc, #fff7a8);
}

#swipe {
	touch-action: none;
	width: 100%;
	background-size: cover;
	background-position: center;
}

#profileName {
  background-image: linear-gradient(to right, #c4fffc, #fff7a8);
  font-family: monospace;
  font-size: 3em;
  text-align: center;
  width: 100%;
  min-height: 1.5em;
  line-height: 1.5em;

}

.swipeClasses {
  background-color: white;
  line-height: 1.2em;
  margin-left: auto;
  margin-right: auto;
  background-color: #bcffd4;
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  border-radius: 25px;
  border: 2px solid #73AD21;
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

@media (max-height: 400px){
	#banner {
		height: 60px;
	}
}

@media (max-width: 350px) {
	#profileName {
		font-size: : 2em;
	}
	.swipeClasses {
		font-size: 1.5em;
	}
}
